.order-item {
    width: 100%;
    padding-top: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    .order-item-div {
        width: 100%;
        height: 36px;
        background: #F4F4F4;
        padding: 0 34px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #999999;
        font-size: 13px;
    }

    .order-item-row {
        width: 100%;
        height: 44px;
        padding: 0 34px;
        border-left: 1px solid #EDEDED;
        border-bottom: 1px solid #EDEDED;
        border-right: 1px solid #EDEDED;
        transition: all 0.3s;

        &:hover {
            background: #e8f6ff;
        }
    }
}

.modal-style {
    padding: 0 20px;
    width: 100%;

    .modal-style-title {
        width: 100%;
        font-size: 16px;
        text-align: center;
        padding-bottom: 18px;
        color: #444444;

    }

    .modal-style-comfirm {
        width: 100%;
        padding: 34px 10px 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .modal-style-comfirm-button {
            width: 126px;
            height: 38px;
            border-radius: 38px;
        }
    }
}