.pay-success-content-parent {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .pay-success-content-child {
        width: 210px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;

        .content-child-top {
            font-size: 16px;
            font-weight: bold;
            padding: 22px 0 14px 0;
        }

        .content-child-buttom {
            font-size: 14px;
            color: #999999;
            padding: 10px 0 16px 0;
        }

        .content-child-word {
            width: 100%;
            text-align: center;
            font-size: 16px;
        }
    }
}