
.ant-anchor-wrapper {
    padding: 0;
    margin: 0;
    height: 221px;
    .ant-anchor {
        padding-left: 0;
        .ant-anchor-ink {
            &::before {
                width: 0;
            }
        }
        .ant-anchor-link {
            line-height: 36px;
            background: #16245B;
            margin-bottom: 1px;
            text-align: center;
            padding: 0;
            letter-spacing: 3px;
            a {
                color: #9E9E9E;
            }
            &.ant-anchor-link-active {
                background: none;
                color: #fff;
                a {
                    color: #fff;
                }
            }
        }
    }
}
.homepage {
    width: 100%;
    min-width: 1280px;
    position: relative;
    // 课程购买悬浮
    .home-fixed-body {
        min-width: 1280px;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom: 30px;
        z-index: 1000;
        .home-fixed-box {
            position: relative;
            width: 1008px;
            background: rgba(255, 255, 255, 0.3);
            height: 58px;
            border-radius: 58px;
            margin: auto;
            padding: 7px;
            color: #fff;
            .home-fixed-con {
                width: 994px;
                height: 44px;
                border-radius: 44px;
                background: linear-gradient(-90deg,#009AFF,#3F32FA);
                display: flex;
                align-items: center;
                justify-content: flex-start;
                font-size: 16px;
                .home-fixed-original-price {
                    text-decoration: line-through;
                    color: #D0D0D0;
                    font-size: 12px;
                }
                .home-fixed-truth-price {
                    margin-left: 80px;
                    letter-spacing: 2px;
                    position: relative;
                    top: -3px;
                    font-size: 12px;
                    span {
                        color: #FF8627;
                        font-weight: bold;
                        letter-spacing: 0;
                        font-size: 20px;
                    }
                }
            }
            .home-fixed-btn {
                position: absolute;
                right: 0;
                top: 0;
                height: 58px;
                width: 233px;
                font-size: 20px;
                text-align: center;
                line-height: 58px;
                border-radius: 58px;
                background: linear-gradient(90deg, #57EFFE,#009AFF);
            }
        }
    }
    // 侧导航悬浮
    .home-side-menu {
        position: fixed;
        right: 60px;
        top: 30%;
        z-index: 3;
        transform: translateY(-50%);
        width: 127px;
        height: 221px;
        border-radius: 15px;
        background: linear-gradient(90deg,#41FFE0,#A97DF0);
        overflow: hidden;
    }
    // 公用模块title
    .titleBox {
        text-align: center;
        .title-main {
            font-size: 30px;
            font-weight: bold;
        }
        .title-line {
            width: 64px;
            height: 8px;
            border-radius: 8px;
            background: linear-gradient(90deg,#ba81f4, #00f7e5);
            margin: 7px auto 9px;
        }
        .title-sub {
            font-size: 20px;
        }
    }
    // 太空屏
    .homepagebigpicture {
        width: 100%;
        display: flex;
        justify-content: center;
        // position: relative;
        margin-top: -78px;
        // position: fixed;
        min-width: 1280px;

        .homepage-big-picture {
            height: 650px;
            min-width: 1280px;
            // padding: 0 40px;
            display: flex;
            justify-content: space-between;

            .homepage-big-picture-left {
                margin-top: 272px;
                color: #fff;
                margin-left: 120px;
            }

            .homepage-big-picture-middle {
                flex-grow: 1;
                position: relative;
                top: 70px;
                left: -60px;
                .vesselImg {
                    width: 704px;
                    animation: vesselAni 2s ease infinite alternate;
                }
            }
        }
    }
    // 内容主体
    .homepageMidCon {
        & > div {
            background: #fff;
        }
        // 为什么学编程
        .whylearn {
            width: 100%;
            height: 500px;
            flex-direction: column;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background: #00104d;
            .whylearn-body {
                width: 828px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 40px;
                color: #f1f1f1;
                img {
                    width: 110px;
                    height: 110px;
                    margin-bottom: 21px;
                }
                & > div {
                    
                    transition: all 0.3s;
                    &:hover {
                        transform: scale(1.1);
                    }
                    div {
                        margin-bottom: 5px;
                    }
                }
            }
        }
        // 相关教师
        .relevantTeachers {
            position: relative;
            height: 680px;
            margin-top: -150px;
            min-width: 1280px;
            display: flex;
            flex-direction: column;
            .relevantTeachers-top {
                height: 200px;
                padding-top: 90px;
            }
            .relevantTeachers-center {
                background: #E7F6FF;
                flex-grow: 1;
                #certify {
                    position: relative;
                    width: 1020px;
                    margin: 20px auto 0;
                    .swiper-container {
                        width: 947px;
                        .swiper-slide {
                            width: 717px;
                            height: 431px;
                            color: #fff;
                            overflow: hidden;
                            transform: scale(0.73);
                            display: flex;
                            align-items: center;
                            .swiper-slide-body {
                                width: 717px;
                                height: 249px;
                                background: linear-gradient(#b57ff2,#4F56CA);
                                box-shadow: 0 8px 30px #ddd;
                                border-radius: 10px;
                                display: flex;
                                align-items: flex-end;
                                padding: 32px 80px 32px 10px;
                                & > div {
                                    display: none;
                                }
                                .swiper-slide-left {
                                    width: 300px;
                                    margin-right: 20px;
                                    img {
                                        width: 300px;
                                        height: 262px;
                                        margin-top: -50px;
                                        margin-bottom: 10px;
                                    }
                                }
                                .swiper-slide-right {
                                    width: 312px;
                                    .desc {
                                        margin-top: 15px;
                                        line-height: 2;
                                    }
                                }
                            }
                        }
                        .swiper-slide-active {
                            transform: scale(1);
                            .swiper-slide-body {
                                & > div {
                                    display: block;
                                }
                            }
                        }
                    }
                    .swiper-pagination-bullets .swiper-pagination-bullet {
                        margin: 0 5px;
                        border: 3px solid #fff;
                        background-color: #d5d5d5;
                        width: 10px;
                        height: 10px;
                        opacity: 1;
                    }
                    .swiper-pagination-bullets .swiper-pagination-bullet-active {
                        border: 3px solid #00aadc;
                        background-color: #fff;
                    }
                    .swiper-button-prev {
                        left: -30px;
                        width: 45px;
                        height: 45px;
                        background: transparent;
                        background-position: 0 0;
                        background-size: 100%;
                        &:hover {
                            background-position: 0 -46px;
                            background-size: 100%
                        }
                    }
                    .swiper-button-next {
                        right: -30px;
                        width: 45px;
                        height: 45px;
                        text-align: right;
                        background: transparent;
                        background-position: 0 -93px;
                        background-size: 100%;
                        &:hover {
                            background-position: 0 -139px;
                            background-size: 100%
                        }        
                    }
                }
            }
            .relevantTeachers-bot {
                height: 200px;
            }
        }
        // 优秀的在线辅导教学
        .onlineTeaching {
            position: relative;
            .onlineTeaching-body {
                position: relative;
                .background {
                    width: 100%;
                }
                .onlineTeaching-content {
                    width: 56%;
                    position: absolute;
                    top: 50%;
                    left: 50%;    
                    transform: translate(-50%,-50%);
                }
            }
        }
        // 优秀作品展示
        .productsShow {
            padding-bottom: 80px;
            .productsShow-list {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                // margin-top: ;
                width: 1280px;
                margin: 60px auto 0;

                .productsShow-box {
                    width: 236px;
                    height: 294px;
                    left: 392px;
                    border-radius: 8px;
                    box-shadow: 0px 0px 15px 0px rgba(29, 44, 168, 0.4);
                    overflow: hidden;
                    transition: all 0.3s;
                    margin-right: 30px;
                    &:last-child {
                        margin-right: 0;
                    }
                    img {
                        width: 100%;
                        height: 158px;
                    }
                    .productsShow-con {
                        .title {
                            text-align: center;
                            color: #00104D;
                            font-size: 16px;
                            margin: 6px 0 2px 0;
                        }
                        .text {
                            padding: 0 12px;
                            color: #6d6d6d;
                            font-size: 12px;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 4;
                            overflow: hidden;
                        }
                    }
                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }
        }
        // 课程体系
        .courseSystem {
            width: 100%;
            display: flex;
            justify-content: center;
            background: #fff;
    
            .why-haimawang {
                position: relative;
                padding: 56px 200px;
                width: 1280px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: column;
    
                .why-haimawang-tags {
                    width: 100%;
    
                    .why-haimawang-content {
                        width: 100%;
                        background: #DC5743;
                        font-size: 28px;
                        color: #fff;
                        height: 60px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
    
                    .why-haimawang-tags-row {
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-end;
                        margin-bottom: 2px;
    
                        .why-haimawang-tags-row-one {
                            width: 125px;
                            font-size: 18px;
                            color: #555555;
                            font-weight: bold;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            background: #ECF0F4;
                            transition: all 0.3s;
                            border-radius: 2px;
    
                            &:hover {
                                transform: scale(1.1);
                                box-shadow: 2px 3px 16px 1px rgba(4, 0, 0, 0.11);
                            }
    
                        }
    
                        .why-haimawang-tags-row-b {
                            width: 125px;
                            height: 188px;
                            color: #ffffff;
                            font-size: 14px;
                            padding: 0 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: all 0.3s;
                            border-radius: 2px;
                            word-wrap: break-word;
                            word-break: break-all;
                            overflow: hidden;
                            margin-left: 2px;
    
                            &:hover {
                                transform: scale(1.1);
                                box-shadow: 2px 3px 16px 1px rgba(4, 0, 0, 0.11);
                            }
    
                        }
    
                        .why-haimawang-tags-row-m {
                            width: 250px;
                            height: 89px;
                            font-size: 20px;
                            color: #ffffff;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            transition: all 0.3s;
                            margin-left: 2px;
                            border-radius: 2px;
    
                            &:hover {
                                transform: scale(1.1);
                                box-shadow: 2px 3px 16px 1px rgba(4, 0, 0, 0.11);
                            }
                        }
                    }
                }
            }
        }
        // 体验课安排
        .testCourse {
            position: relative;
            .testCourse-tab-box {
                .testCourse-tab {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 50px;
                    & > div {
                        width: 143px;
                        height: 49px;
                        line-height: 49px;
                        text-align: center;
                        font-size: 16px;
                        color: #3C3C3C;
                        margin-right: 26px;
                        border-radius: 50px;
                        cursor: pointer;
                        &.active {
                            background: linear-gradient(#ac86dd,#5457cc);
                            color: #fff;
                            box-shadow: 0px 2px 14px 0px rgba(152, 123, 217, 1);
                        }
                    }
                }
                .testCourse-arrow {
                    width: 1014px;
                    height: 38px;
                    margin: auto;
                    .arrow {
                        width: 0;
                        height: 0;
                        border: solid 19px #000;
                        border-color: transparent transparent #E7F6FF transparent;
                    }
                }
            }
            .testCourse-body {
                background: #E7F6FF;
                height: 503px;
                padding: 28px 0;
                .ant-carousel {
                    width: 1022px;
                    margin: auto;
                    border-radius: 10px;
                    overflow: hidden;
                    .testCourse-list {
                        width: 1022px;
                        height: 425px;
                        background: #fff;
                        display: flex!important;
                        align-items: flex-start;
                        justify-content: center;
                        padding-top: 66px;
                        .left {
                            margin-right: 72px;
                            img {
                                width: 445px;
                                height: 303px;
                            }
                        }
                        .right {
                            width: 400px;
                            .title {
                                color: #00104D;
                                font-size: 26px;
                                font-weight: bold;
                            }
                            .con {
                                margin-top: 37px;
                                color: #555;
                                font-size: 14px;
                                & > div {
                                    span {
                                        display: inline-block;
                                        width: 8px;
                                        height: 8px;
                                        border-radius: 8px;
                                        background: linear-gradient(#B1A0EF,#7967da);
                                        margin-right: 5px;
                                    }
                                }
                            }
                            .clickBtn {
                                width: 140px;
                                height: 35px;
                                background: linear-gradient(#B47FF2,#5056ca);
                                color: #fff;
                                font-size: 18px;
                                box-shadow: 0px 2px 10px 0px rgba(138, 110, 225, 1);
                                text-align: center;
                                line-height: 35px;
                                border-radius: 35px;
                                margin-top: 25px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                cursor: pointer;
                                img {
                                    width: 16px;
                                    height: 17px;
                                    margin-right: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .footer {
            color: #fff;
            padding: 36px 0 0;
            .footer-content {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                .footer-title {
                    font-size: 20px;
                    margin-bottom: 26px;
                    text-align: center;
                    font-weight: bold;
                }
                .question {
                    width: 464px;
                    font-size: 16px;
                    .question-list {
                        margin-bottom: 50px;
                    }
                }
                .contactus {
                    width: 464px;
                    margin-left: 100px;
                    .contact-body {
                        display: flex;
                        align-items: flex-start;
                        padding-top: 20px;
                        .contact-form {
                            & > div {
                                margin-bottom: 20px;
                            }
                            .ant-input {
                                width: 230px;
                                height: 35px;
                                border-radius: 35px!important;
                            }
                            .for-get {
                                cursor: pointer;
                                width: 231px;
                                height: 42px;
                                font-size: 18px;
                                color: #ffffff;
                                border-radius: 42px;
                                text-align: center;
                                line-height: 42px;
                                background: linear-gradient(to right, #55EFFE, #009BFF);
                                margin-top: 30px;
                                letter-spacing: 1px;
                                position: relative;
                            }
                            .for-success {
                                &:after {
                                    content: "";
                                    width: 20px;
                                    height: 42px;
                                    background: linear-gradient(100deg,rgba(205, 81, 81, 0), rgba(250, 250, 250, 0.8), rgba(216, 60, 60, 0));
                                    position: absolute;
                                    top: 0;
                                    left: 14px;
                                    animation: successAni 1s linear forwards;
                                    border-radius: 5px;

                                }
                            }
                        }
                        .contact-ercode {
                            margin-left: 48px;
                            img {
                                border-radius: 5px;
                            }
                            div {
                                letter-spacing: 2px;
                            }
                        }
                    }
                }
            }
            // 底部版权
            .copyright {
                height: 170px;
                background: #00104D;
                font-size: 12px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

        }
    }
    // 常见问题
    .commonproblem {
        width: 100%;
        display: flex;
        justify-content: center;

        .common-problem {
            width: 1280px;
            padding: 32px 160px 22px 110px;

            .common-problem-title {
                width: 100%;
                text-align: center;
                font-size: 20px;
                color: #fff;
            }

            .common-problem-content {
                width: 100%;
                padding-top: 26px;
                display: flex;
                justify-content: space-between;
                font-size: 16px;
                color: #fff;
            }
        }
    }

}
// 太空船动画
@keyframes vesselAni {
    from { transform: translateY(10px)}
    to { transform: translateY(-10px)}
}
// 漂浮的小球
.ballFloat {
    position: absolute;
    border-radius: 100%;
}
// 球
.ballBox {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 2;
    .bigBall {
        width: 117px;
        height: 117px;
        position: relative;
        animation: bigBallAni 1s ease infinite alternate;
    }
    .smallBall {
        width: 43px;
        height: 43px;
        position: relative;
        animation: smallBallAni 1s ease infinite alternate;
    }
}
// 大球动画
@keyframes bigBallAni {
    from { transform: translateY(10px)}
    to { transform: translateY(-10px)}
}
// 小球动画
@keyframes smallBallAni {
    from { transform: translateY(-5px)}
    to { transform: translateY(5px)}
}
// 领取成功
@keyframes successAni {
    0% { left: 14px;opacity: 0 }
    50% { left: 116px;opacity: 0.8 }
    100% { left: 217px;opacity: 0 }
}
.modal-homepage-content {
    width: 100%;
    display: flex;
    padding: 8px 0 8px 20px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    .modal-homepage-content-title {
        font-size: 18px;
        font-weight: bold;
    }

    .modal-homepage-content-item {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-top: 24px;

        .modal-homepage-content-item-left {
            width: 128px;
            color: #555555;
            font-size: 16px;
            text-align: right;
            padding-right: 8px;
        }
    }

    .modal-homepage-content-course-button {
        width: 136px;
        height: 38px;
        border-radius: 38px;
        background: #FF8627;
        border-color: #FF8627;
        margin-top: 24px;
    }
}