.login {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    .login-div {
        padding: 0 74px;
    }

    .row1 {
        height: 54px;
        width: 100%;
        background: #54C3D4;
        padding: 9px 24px;
        color: #FFFFFF;

        .row1-div {
            margin-left: 8px;
            font-size: 20px;
        }
    }

    .row2 {
        margin-top: 50px;
        font-size: 14px;
        color: #666666;
    }

    .row3 {
        margin-top: 14px;
    }

    .row4 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 14px;
    }

    .row5 {
        margin-top: 10px;
    }

    .row6 {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 29px
    }
}

.login-iframe {
    padding-top: 40px;
    width: 520px;
    height: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-parent{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}