.course-list {
    width: 1280px;
    height: 1606px;
    position: relative;
    margin: 12px 0;
    border-radius: 10px;
    padding-top: 18px;
    display: flex;
    justify-content: center;

    .course-list-time {
        position: absolute;
        padding: 6px 10px;
        background: #ffca07;
        font-size: 14px;
        color: #292929;
        left: 110px;
        bottom: -25px;
        border-radius: 10px;
    }

    .course-list-haima {
        position: absolute;
        width: 129px;
        top: -10px;
        right: -10px;
    }

    .cousrse-modal {
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .cousrse-modal-content {
            width: 462px;
            height: 399px;
            position: relative;
            padding: 16px 18px;
            display: flex;
            justify-content: flex-end;
            animation: user-message 0.3s;

        }
    }
}

@keyframes user-message {
    from {
        transform: scale(0.1);
    }

    to {
        transform: scale(1);
    }
}

.gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);

    filter: grayscale(100%);

    filter: gray;
}