.publish-works {
    padding: 12px 15px;
    width: 1280px;

    .publish-parent {
        width: 100%;
        display: flex;
        padding-bottom: 51px;
        flex-flow: row;

        .publish-stable {
            width: 510px;
            padding: 53px 0 0 22px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;

            .publish-stable-upload {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 38px;
                border-radius: 38px;
                background: #EEF8FB;
                color: #54C3D4;
                font-size: 16px;
                border: 1px solid #54C3D4;
                padding: 8px 35px;
                cursor: pointer;
                margin: 27px 0;
            }

            .publish-cover {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
            }

        }

        .publish-change {
            flex: 1;

            .publish-title {
                font-size: 24px;
                font-weight: bold;
                color: #444444;
            }

            .publish-works-parent {

                padding-top: 24px;
                display: flex;
                justify-content: flex-start;

                .publish-works-left {
                    text-align: right;
                    min-width: 106px;
                    padding-right: 8px;
                    font-size: 16px;
                    color: #555555;
                }

                .publish-works-right {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;

                    .position-icon {
                        position: absolute;
                        color: #2DBB55;
                        right: -3px;
                        top: -3px;

                    }
                }
            }

        }

        .publish-code {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }

    .row-col1 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #54C3D4;
        font-size: 16px;
        cursor: pointer;
    }

    .row-col2 {
        width: 328px;
        height: 52px;
        font-size: 18px;
        border-radius: 52px;
    }
}

.tags-show {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .tags-show-icon {
        font-size: 13px;
        position: absolute;
        color: #2DBB55;
        background: #fff;
        border-radius: 13px;
        right: -3px;
        top: -3px;

    }
}