.course {
    padding: 12px 15px;
    width: 1280px;

    .course-title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .course-title-before {
            color: rgba(255, 255, 255, 0.8);
            background: #F6A906;
            height: 40px;
            padding: 0 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top-left-radius: 40px;
            border-bottom-left-radius: 40px;
            position: absolute;
            right: -45px;
            top: -6px;
            cursor: pointer;
        }
    }

    .course-content {
        margin-top: 15px;
        width: 100%;
        padding: 15px 12px;
        max-height: 960px;
        overflow: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    .course-content::-webkit-scrollbar {
        /*滚动条整体样式*/
        width: 5px;
        /*高宽分别对应横竖滚动条的尺寸*/
        height: 1px;
    }

    .course-content::-webkit-scrollbar-thumb {
        /*滚动条里面小方块*/
        border-radius: 5px;
        background: #ffffff;
    }

    .course-content::-webkit-scrollbar-track {
        /*滚动条里面轨道*/
        border-radius: 5px;
        background: #ffffff;
    }

    .show-background {
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .show-video-content {
            width: 100vw;
            height: 100vh;
            background: rgba(0, 0, 0, 0);
        }

    }
}

.grade-modal-title {
    padding: 10px 0;
    color: #666666;
}

.grade-modal-content {
    padding: 20px 0 28px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #666666;
    font-size: 14px;
}

.grade-modal-button {
    width: 126px;
    height: 38px;
    border-radius: 38px;
    font-size: 16px;
}

.cartoon-box-title {
    padding-top: 44px;
    color: #444444;
    font-size: 24px;
}