.works-show {
    padding: 12px 15px;
    width: 1280px;

    .works-show-row {
        font-weight: bold;
        padding: 10px 0 24px 0;
        font-size: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #555555;

    }

    .works-show-notification {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }
}