.course-item {
    width: 100%;
    height: 270px;
    padding: 15px 25px;
    margin-bottom: 50px;
    display: flex;
    border-radius: 10px;
    background: #FEFCFC;
    transition: all 0.3s;

    &:hover {
        transform: scale(1.01);
        box-shadow: 0 0 10px 0 rgba(26, 106, 107, 0.3);
    }

    .course-item-img {
        position: relative;
        width: 352px;
        height: 236px;
        border-radius: 10px;

        .course-item-img-lock {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            background: rgba(0, 0, 0, 0.4);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #FFFFFF;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .lock-tips {
                position: absolute;
                width: 56px;
                height: 60px;
                left: 20px;
                top: 0;
                display: flex;
                justify-content: center;
                padding-top: 12px;
                font-size: 14px;
                color: rgba(255, 255, 255, 0.8);
            }
        }
    }

    .course-item-content {
        flex: 1;
        padding: 10px 0 0 34px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .change-row1 {
            color: #444444;
            font-weight: bold;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 18px;
            padding: 14px 0 15px 0;
        }

        .change-row2 {
            font-size: 16px;
            color: #666666;
            font-weight: bold;
            padding: 5px 0;
        }

        .change-row3 {
            font-weight: normal;
            font-size: 16px;
            max-height: 100px;
            overflow: hidden;
            color: #999999;
        }
    }

    .show-background {
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.4);
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .show-video-content {
            width: 100vw;
            height: 100vh;
            background: rgba(0, 0, 0, 0);
        }

    }
}

.grade-modal-title {
    padding: 10px 0;
    color: #666666;
}

.grade-modal-content {
    padding: 20px 0 28px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #666666;
    font-size: 14px;
}

.grade-modal-button {
    width: 126px;
    height: 38px;
    border-radius: 38px;
    font-size: 16px;
}