.pay-success {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding: 46px;

    .pay-success-back {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        color: #DEDEDE;
        font-size: 34px;
    }

    .pay-success-content {
        width: 1280px;
        padding: 11px 0;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;

        .pay-success-content-title {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            padding-bottom: 14px;
        }

        .pay-success-content-tips {
            font-size: 16px;
            color: #555555;
            padding-bottom: 32px;
        }

        .pay-success-content-button {
            border-radius: 32px;
            color: #54C3D4;
            border-color: #54C3D4;
        }

        .pay-success-content-p {
            width: 100%;
            padding: 44px 300px;
        }
    }
}