.personal-works {
    width: 1280px;
    padding: 12px 15px;
    display: flex;
    flex-flow: row;

    .personal-works-left {
        width: 230px;
    }

    .personal-works-right {
        padding: 10px 24px;
        border-radius: 10px;
        background: #ffffff;
        margin-left: 22px;
        flex: 1;
        min-width: 964px;
        min-height: 80vh;

        .notification-content-page {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 60px;
        }

        .personal-works-right-title {
            border-radius: 10px;
            width: 100%;
            height: 52px;
            padding: 0 32px;
            background: #ffffff;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        .personal-works-right-content {
            width: 100%;
            padding: 24px 0;

            .personal-works-right-content-item {
                display: flex;
                justify-content: center;
            }
        }
    }
}

.delete-modal-title {
    width: 100%;
    color: #444444;
    font-size: 16px;
    text-align: center;
}

.delete-modal-content {
    width: 100%;
    color: #444444;
    font-size: 15px;
    text-align: center;
    word-break: break-all;
    word-wrap: break-word;
    padding: 30px 0 40px 0;
}

.delete-modal-parent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .delete-modal-parent-button {
        width: 126px;
        height: 38px;
        border-radius: 38px;
    }

}