.personal-collection {
    width: 1280px;
    padding: 12px 15px;
    display: flex;
    flex-flow: row;

    .personal-collection-left {
        width: 230px;
    }

    .personal-collection-right {
        min-height: 80vh;
        padding: 10px 24px;
        border-radius: 10px;
        background: #ffffff;
        margin-left: 22px;
        flex: 1;
        min-width: 964px;

        .notification-content-page {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 60px;
        }

        .personal-collection-right-title {
            width: 100%;
            height: 52px;
            padding: 0 32px;
            background: #ffffff;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        .personal-collection-right-content {
            width: 100%;
            padding: 24px 0;

            .personal-collection-right-content-item {
                display: flex;
                justify-content: center;
            }
        }
    }
}