.series {
    padding: 12px 15px;
    display: flex;
    width: 1280px;
    flex-flow: row;

    .series-left {
        width: 230px;
    }

    .series-right {
        min-height: 80vh;
        padding: 24px;
        border-radius: 10px;
        background: #fff;
        flex: 1;
        min-width: 964px;
        margin-left: 22px;

        .notification-content-page {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 60px;
        }

        .series-right-content {
            width: 100%;
            padding: 24px 0;

            .series-right-content-item {
                display: flex;
                justify-content: center;
                margin-bottom: 26px;

                .series-right-content-item-course {
                    width: 220px;
                    height: 180px;
                    border-radius: 10px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-direction: column;
                    padding-top: 42px;
                    cursor: pointer;
                    // &:hover {
                    //     box-shadow: 0px 1px 3px rgba(34, 25, 25, 0.2);
                    // }

                }
            }
        }
    }

    .series-modal {
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .series-modal-content {
            width: 462px;
            height: 399px;
            position: relative;
            padding: 16px 18px;
            display: flex;
            justify-content: flex-end;
            animation: user-message 0.3s;

        }
    }
}

@keyframes user-message {
    from {
        transform: scale(0.1);
    }

    to {
        transform: scale(1);
    }
}

.gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);

    filter: grayscale(100%);

    filter: gray;
}