.personal-homework {
    padding: 12px 15px;
    display: flex;
    width: 1280px;
    flex-flow: row;

    .personal-homework-left {
        width: 230px;
    }

    .personal-homework-right {
        min-height: 80vh;
        padding: 24px;
        border-radius: 10px;
        background: #fff;
        flex: 1;
        min-width: 964px;
        margin-left: 22px;

        .notification-content-page {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 60px;
        }

        .personal-homework-right-content {
            width: 100%;
            padding: 24px 0;

            .personal-homework-right-content-item {
                display: flex;
                justify-content: center;
            }
        }
    }
}