.comment-item {
    padding: 30px 0;
    display: flex;
    flex-flow: row;

    .comment-item-left {
        width: 64px;
        height: 64px;
        border-radius: 64px;
        margin-right: 24px;
    }

    .comment-item-right {
        flex: 1;

        .right-row {
            height: 20px;
            font-size: 14px;
            color: #999999;
            margin-bottom: 14px;
        }

        .right-col {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .right-col-div {
                cursor: pointer;
                display: flex;
                margin-right: 22px;

                .right-col-div-img {
                    width: 20px;
                    height: 20px;
                }

                .right-col-icon {
                    font-size: 20px;
                }
            }

        }

    }
}