#user-video {
    width: 100%;
    height: 100%;
    position: relative;
    background: black;
    display: flex;
    justify-content: center;

    .show-close-div {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        padding: 0 40px;
        left: 0;
        right: 0;
        z-index: 99;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));

        .show-close-button {
            width: 116px;
            height: 38px;
            border-radius: 38px;
            margin-right: 20px;
            font-size: 16px;
        }

        .show-colse-icon {
            font-size: 40px;
            color: #FFFFFF;
        }
    }

    #media {
        display: block;
        object-fit: fill;
        height: 100%;
    }

    .row-position {
        position: absolute;
        width: 100%;
        display: flex;
        align-items: flex-end;
        height: 185px;
        bottom: 0;
    }

    .video-row {
        //  width: 100%;
        flex: 1;
        height: 60px;
        background: rgba(76, 76, 76, 0.4);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 32px;

        .video-row-play-button {
            margin-right: 32px;
            color: #fff;
            font-size: 40px;
        }

    }

    .video-row-play-slider {
        position: relative;
        flex: 1;
        justify-content: flex-start;
        align-items: center;
    }

    .video-row-play-time {
        color: #FFFFFF;
        font-size: 16px;
        margin-right: 12px;
    }

    .video-row-play-time-right {
        color: #FFFFFF;
        font-size: 16px;
        margin-left: 12px;

    }

    .voice-img {
        width: 70px;
        background: rgba(76, 76, 76, 0.4);
        height: 60px;
        padding-left: 32px;
        display: flex;
        align-items: center;
    }

    .voice-img1 {
        background: rgba(76, 76, 76, 0.4);
        height: 60px;
        padding-left: 17px;
        display: flex;
        align-items: center;
    }

    .volume {
        width: 40px;
        height: 120px;
        background: #fff;
        padding: 10px 0;
        margin-left: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ant-slider-track {
        background: #00CAE9;
    }
}

.user-defined {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 60px;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
}

.user-defined>div {
    background-color: #54C3D4;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.user-defined .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.user-defined .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.user-defined .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.user-defined .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {

    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4)
    }

    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes stretchdelay {

    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }

    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}