.works-show-item {
    width: 286px;
    border-radius: 10px;
    border: 1px solid #EFEFEF;
    background: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    transition: all 0.3s;

    &:hover {
        box-shadow: 0px 1px 3px rgba(34, 25, 25, 0.2);
    }

    .works-show-item-row1 {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        width: 100%;
        height: 214px;
        cursor: pointer;
    }

    .works-show-item-row2 {
        width: 100%;
        padding: 13px 10px;
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: bold;
    }

    .works-show-item-row3 {
        width: 100%;
        display: flex;
        padding: 0 10px 34px 10px;
        font-size: 13px;
        color: #999999;

        .row3-col {
            margin-right: 18px;
        }
    }

    .works-show-item-row4 {
        font-size: 13px;
        width: 100%;
        padding: 0 10px 14px 10px;
        color: #999999;
        font-weight: bold;
    }
}