
// 视频模块
.videoBody {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
    .videoBox {
        // background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        position: absolute;
    }
    video {
        position: relative;
        width: 70vw;
    }
    .videoPauseBackground {
        position: absolute;
        width: 70vw;
        height: 39.37vw;
        background: rgba(42, 42, 42, 0.5);
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        .toPay {
            background: #BD0E0E;
            width: 107px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            margin: 10px 0 2px;
            border-radius: 3px;
            cursor: pointer;
        }
    }
  }