
.logo {
    width: 120px;
}

.content {
    width: 100%;
    min-width: 1280px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 64px);
}

.header-home {
    width: 100%;
    height: 70px;
    background: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    padding: 0;
    z-index: 2;

    .header-home-nav {
        width: 1280px;
        padding: 0 10px;
    }
}

.link-user {
    color: rgba(255, 255, 255, 0.3);
    font-size: 16px;
    padding: 0 15px;
}

.link-user-change {
    color: rgba(255, 255, 255, 0.3);
    font-size: 16px;
    padding: 0 15px 0 0;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        color: #fff;
    }
    .loginIcon {
        width: 16px;
        height: 16px;
        position: relative;
        top: -2px;
    }
}

.link-user-choose {
    color: #fff;
    font-size: 16px;
    padding: 0 15px;
    cursor: pointer;
}

.creation-user {
    padding: 5px 13px;
    height: 30px;
    background: #FF8627;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
}

.for-big {
    transition: all 0.3s;

    &:hover {
        transform: scale(1.1);
    }
}

.user-lazy-div {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge-icon {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    color: #fff;
    background: red;
    font-size: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 15px;
    right: -6px;
}

.ant-btn-primary[disabled] {
    cursor: auto;
}